.hide {
  display: none;
}

.big-font {
  font-size: 200%;
}

.md-font {
  font-size: 150%;
}

.big-frame {
  width: 5rem;
  height: 46.875rem;
}

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 8%;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* .order_tables {
  word-wrap: break-word;
  table-layout: fixed;
  width: 100%;
} */

@media (max-width: 765px) {
  .product-image {width: 20rem; height: 20rem;}
}