{% extends 'common/base.html' %}
{% load humanize %}
{% block content %}

{% if orders %}
<div class="table-responsive-sm">
    <table class="table table-striped table-bordered table-info mt-5">
        <tr>
            <th class="fit">
                No.
            </th>
            <th class="fit">
                Order date
            </th>
            <th>
                Product
            </th>
            <th class="fit">
                Quantity
            </th>
            <th>
                Total prices
            </th>
            <th class="fit">
                Status
            </th>
            <th class="fit">
                Action
            </th>
        </tr>
        {% for order in orders%}
            <tr>   
                <td>
                    {{forloop.counter}}
                </td>
                <td>
                    {{order.order_date}}
                </td>         
                <td>
                    {{order.product.name}}
                </td>
                <td>
                    {{order.quantity}}
                </td>
                <td>
                    Rp {{order.price_sum|intcomma}}
                </td>
                <td>
                    {{order.status}}
                </td>
                {% if order.status == 'Pending' %}
                    <td>
                        <a onclick="return confirm('Cancel {{order.product.name}} order?')" class="btn btn-sm btn-danger" href="{% url 'cancel_order' order.id %}">Cancel order</a>   
                    </td>            
                {% elif order.status == 'In Delivery' %}
                    <td>
                        <a onclick="return confirm('Delete {{order.product.name}} order history?')" class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete order history</a>   
                    </td>            
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

{% else %}
    <h4>No Orders available</h4>
{% endif %}
{% endblock %}